﻿
@{
    ViewBag.Title = "Home";
}


<form action="/" class="form-inline" method="get">
    <input type="text" name="nome" class="form-control input-sm" value="@Request.QueryString["nome"]" placeholder="Nome do Recurso" />
    <select name="nomeCategoria" class="form-control input-sm">
        <option value="">Todos</option>
        @foreach (var categoria in ViewBag.Categorias)
        {
            <option value="@categoria.Nome" selected="@categoria.Nome.Equals(@Request.QueryString["nomeCategoria"])">@categoria.Nome</option>
        }
    </select>

    <button type="submit" class="btn btn-success btn-sm">Busca</button>
</form>

<table class="table table-hover table-style text-center">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Categoria</th>
            <th class="col-md-2">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Recurso in ViewBag.Recursos)
        {
            <tr>
                <td>@Recurso.Nome</td>
                <td>@Recurso.Descricao </td>
                <td>@Recurso.QtdTotal</td>
                <td>@Recurso.Categoria.Nome</td>
                <td>
                    <button type="button" recursoId="@(Recurso.Id)" recursoNome="@(Recurso.Nome)" title="Novo recurso" class="btn btn-success btn-sm entrada"><i class="fa fa-plus" aria-hidden="true"></i> Entrada</button>
                    @if (@Recurso.QtdTotal > 0)
                    {
                        <button type="button" recursoId="@(Recurso.Id)" recursoNome="@(Recurso.Nome)" title="Saida de recurso"  class="btn btn-danger btn-sm saida"><i class="fa fa-minus" aria-hidden="true"></i> Saida</button>
                    }
                    else
                    {
                        <button type="button" title="Diminuir menos um na quantidade" class="btn btn-danger btn-sm disabled"><i class="fa fa-minus" aria-hidden="true"> Saida</i></button>
                    }
                </td>
            </tr>
        }
       
    </tbody>
</table>


@Html.Action("Entrada", "Modal");
@Html.Action("Saida", "Modal");

@section Scripts{
<script src="~/Content/js/Scripts.js"></script>
    
}
