﻿
@{
    ViewBag.Title = "Cadastro";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="@Url.Action("Cadastro","Usuario")" method="post">
            <h3 class="text-center">Cadastro de Usuário</h3>
            <input type="hidden" name="usuario.Id" value="@ViewBag.usuario.Id" />
            <div class="form-group col-md-6">
                <label for="usuario.Nome">Nome</label>
                <input type="text" name="usuario.Nome" value="@ViewBag.usuario.Nome" class="form-control input-sm" required/>
            </div>

            <div class="form-group col-md-6">
                <label for="Usuario.Funcao.Id">Funcao: </label>
                <a href="@Url.Action("novo","Funcao")">Nova Função</a>
                <select class="form-control input-sm" name="Usuario.Funcao.Id" required>
                    @foreach (var funcao in ViewBag.Funcoes)
                    {
                        <option value="@funcao.Id" selected="@funcao.Id.Equals(ViewBag.Usuario.FuncaoId)">@funcao.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">

                <label for="Usuario.Sexo">Sexo:</label>
                <select class="form-control input-sm" name="Usuario.Sexo" required>
                    <option value="Masculino" >Masculino</option>
                    <option value="Feminino" >Feminino</option>
                </select>
            </div>

            <div class="form-group">
                <p class="pull-right">
                    <button class="btn btn-sm btn-success">Salvar</button>
                </p>
            </div>
        </form>
    </div>
</div>

