﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />

    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/sweetalert.min.js"></script>

    <title>@ViewBag.Title</title>

    <style>
        .navbar {
            border-radius: 0 !important;
        }

            .navbar li > a:hover {
                background-color: #080808 !important;
                color: #ffffff !important;
            }
    </style>
</head>
<body>
    @Html.Partial("_MenuSuperior")

    @RenderBody()


    @RenderSection("Scripts", required: false)

</body>
</html>