﻿<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home">Stoque</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Recurso", "Index", "Recurso")</li>
                <li>@Html.ActionLink("Categoria", "Index", "Categoria")</li>
                <li>@Html.ActionLink("Função", "Index", "Funcao")</li>
                <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
                <li>@Html.ActionLink("Entradas", "Entradas", "Movimentacao")</li>
                <li>@Html.ActionLink("Saidas", "Saidas", "Movimentacao")</li>
            </ul>
        </div>

    </div>
</div>