﻿
@{
    ViewBag.Title = "Cadastro";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="@Url.Action("Cadastro","Categoria")" method="post">
            <h3 class="text-center">Cadastro de Categoria</h3>
            <input type="hidden" name="categoria.Id" value="@ViewBag.Categoria.Id" />
            <div class="form-group col-md-6">
                <label for="categoria.Nome">Nome</label>
                <input type="text" name="categoria.Nome" value="@ViewBag.Categoria.Nome" class="form-control input-sm" required/>
            </div>

            <div class="form-group col-md-6">
                <label for="categoria.Descricao">Descrição</label>
                <input type="text" name="categoria.Descricao" value="@ViewBag.Categoria.Descricao" class="form-control input-sm" required/>
            </div>
            <div class="form-group">
                <p class="pull-right">
                    <button class="btn btn-sm btn-success">Salvar</button>
                </p>
            </div>
        </form>
    </div>
</div>

