﻿
@{
    Layout = null;
}

<!-- Modal Entrada-->
<div id="entrada" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form action="@Url.Action("Entrada","Movimentacao")" method="post">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Entrada</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class=form-group>
                                <label for="entrada.Recurso">Recurso:</label><br />
                                <strong class="nome text-success"></strong>
                                <input type="hidden" name="entrada.RecursoId" value="" class="form-control input-sm id" />

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class=form-group>
                                <label for="entrada.Usuario">Responsável: </label>
                                <a href="@Url.Action("Novo","Usuario")">Novo</a>
                                <select class="form-control input-sm" name="entrada.ResponsavelId" required>
                                    @foreach (var usuario in ViewBag.Usuarios)
                                    {
                                        <option value="@usuario.Id">@usuario.Nome</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class=form-group>
                                <label for="entrada.Qtd">Quantidade:</label>
                                <input type="number" name="entrada.Qtd" class="form-control input-sm" value="" required/>
                            </div>
                        </div>
                    </div> <!-- fim class row-->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success btn-sm">Salvar</button>
                </div>

            </form>
        </div>

    </div>
</div>