﻿
@{
    ViewBag.Title = "Entradas";
}
<h3>Entradas</h3>
<table class="table table-hover table-style text-center">
    <thead>
        <tr>
            <th>Data</th>
            <th>Recurso</th>
            <th>Quantidade</th>
            <th>Responsável</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entrada in ViewBag.Entradas)
        {
            <tr>
                <td>@entrada.Data</td>
                <td>@entrada.Recurso.Nome</td>
                <td>@entrada.Qtd</td>
                <td>@entrada.Responsavel.Nome</td>
            </tr>
        }

    </tbody>
</table>