﻿
@{
    ViewBag.Title = "Saidas";
}


<h3>Saidas</h3>
<table class="table table-hover table-style text-center">
    <thead>
        <tr>
            <th>Data</th>
            <th>Recurso</th>
            <th>Quantidade</th>
            <th>Responsável</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var saida in ViewBag.Saidas)
        {
            <tr>
                <td>@saida.Data</td>
                <td>@saida.Recurso.Nome</td>
                <td>@saida.Qtd</td>
                <td>@saida.Responsavel.Nome</td>
            </tr>
        }

    </tbody>
</table>
