﻿
@{
    ViewBag.Title = "Index";
}
<a href="@Url.Action("Novo","Funcao")" class="btn btn-sm btn-success pull-right">Adicionar</a>

<table class="table table-hover table-style text-center">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th class="col-md-1">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var funcao in ViewBag.Funcoes)
        {
            <tr id="tr@(funcao.Id)">
                <td>@funcao.Nome</td>
                <td>@funcao.Descricao </td>
                <td>
                    <a href="@Url.Action("Novo", "Funcao", new { funcao.Id })" class="btn btn-success btn-sm" title="Ediatr"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <button type="button" title="Excluir" onclick="deleteTr(@(funcao.Id))" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        }

    </tbody>
</table>

<script>

    function deleteTr(id) {
        swal({
            title: "Você tem certeza?",
            text: "Você tem certeza que deseja fazer essa alteração!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Sim",
            cancelButtonText: "Não",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        type: "post",
                        url: "@Url.Action("Remove", "Funcao")",
                        data: { id: id },
                        success: function (data) {
                            $("#tr" + data).remove();
                            swal("Deletado!", "Operação realizada com sucesso.", "success");
                        },
                        error: function (data) {
                            console.log(data);
                            swal("Erro", "Erro ao tenta excluir:" + data, "error");
                        }

                    });
                } else {
                    swal("Cancelado", "Operação realizada com sucesso.", "error");
                }
            });

    }
</script>
