﻿
@{
    ViewBag.Title = "Função";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="@Url.Action("Cadastro","Funcao")" method="post">
            <h3 class="text-center">Cadastro de Função</h3>
            <input type="hidden" name="funcao.Id" value="@ViewBag.funcao.Id" />
            <div class="form-group col-md-6">
                <label for="funcao.Nome">Nome</label>
                <input type="text" name="funcao.Nome" value="@ViewBag.funcao.Nome" class="form-control input-sm" required/>
            </div>

            <div class="form-group col-md-6">
                <label for="funcao.Descricao">Descrição</label>
                <input type="text" name="funcao.Descricao" value="@ViewBag.funcao.Descricao" class="form-control input-sm" required/>
            </div>
            <div class="form-group">
                <p class="pull-right">
                    <button class="btn btn-sm btn-success">Salvar</button>
                </p>
            </div>
        </form>
    </div>
</div>

