﻿
@{
    ViewBag.Title = "Cadastro";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="@Url.Action("Cadastro","Recurso")" method="post">
            <h3 class="text-center">Cadastro de Recurso</h3>
            <input type="hidden" name="recurso.Id" value="@ViewBag.recurso.Id" />
            <div class="form-group col-md-6">
                <label for="recurso.Nome">Nome</label>
                <input type="text" name="recurso.Nome" value="@ViewBag.recurso.Nome" class="form-control input-sm" required/>
            </div>

            <div class="form-group col-md-6">
                <label for="recurso.Descricao">Descrição</label>
                <input type="text" name="recurso.Descricao" value="@ViewBag.recurso.Descricao" class="form-control input-sm" required/>
            </div>

            <div class="form-group col-md-6">
                <label for="recurso.Categoria.Id">Categoria: </label>
                <a href="@Url.Action("Novo","Categoria")">Nova Categoria</a>
                <select class="form-control input-sm" name="recurso.Categoria.Id" required>
                    @foreach (var categoria in ViewBag.Categorias)
                    {
                        <option value="@categoria.Id" selected="@categoria.Id.Equals(ViewBag.Recurso.CategoriaId)">@categoria.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <p class="pull-right">
                    <button class="btn btn-sm btn-success">Salvar</button>
                </p>
            </div>
        </form>
    </div>
</div>

